In [1]:
import json
import pandas as pd
import requests

In [2]:
def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [3]:
keys = get_keys("/Users/Quan/.secret/goodreads_api.json")
api_key = keys['api_key']

In [4]:
# Run the code line "api_key" to print out the key for Goodreads API
# api_key

In [5]:
df = pd.read_csv('cleaned_books.csv')
df = df.drop('Unnamed: 0', 1)
df.head()

,publisher,dagger,author,primary_isbn10,price,primary_isbn13,date,contributor,title,weeks_on_list
0,Riverhead,0,Paula Hawkins,1594634025,0,9.78159E+12,2017-02-19,by Paula Hawkins,THE GIRL ON THE TRAIN,102
1,Scribner,0,Anthony Doerr,1501173219,0,9.7815E+12,2017-05-07,by Anthony Doerr,ALL THE LIGHT WE CANNOT SEE,81
2,Vintage,0,E L James,525431888,0,9.78053E+12,2017-03-05,by E. L. James,FIFTY SHADES DARKER,66
3,St. Martin's,0,Kristin Hannah,1466850604,0,9.78147E+12,2017-10-29,by Kristin Hannah,THE NIGHTINGALE,63
4,Penguin Group,0,Kathryn Stockett,1440697663,0,9.78144E+12,2012-04-08,by Kathryn Stockett,THE HELP,58

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2073 entries, 0 to 2072
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher       2073 non-null   object
 1   dagger          2073 non-null   int64
 2   author          2073 non-null   object
 3   primary_isbn10  2073 non-null   object
 4   price           2073 non-null   int64
 5   primary_isbn13  2073 non-null   object
 6   date            2073 non-null   object
 7   contributor     2073 non-null   object
 8   title           2073 non-null   object
 9   weeks_on_list   2073 non-null   int64
dtypes: int64(3), object(7)
memory usage: 162.1+ KB

In [7]:
df.isnull().sum()

publisher         0
dagger            0
author            0
primary_isbn10    0
price             0
primary_isbn13    0
date              0
contributor       0
title             0
weeks_on_list     0
dtype: int64

In [ ]:
df_10 = df.loc[df['primary_isbn10'].str.len() == 10]
df_10.head()

In [ ]:
# Make a list of ISBN-10 for API later
isbn_list = df_10['primary_isbn10'].to_list()
isbn_list

In [ ]:
for i in isbn_list:
    response = requests.get('https://www.goodreads.com/book/review_counts.json?key=&isbns=' + str(i))
    print(i)
    dict_api = response.json()
    print(dict_api)
    book_review_stats = pd.DataFrame(dict_api)

book_review_stats.to_csv('review_stats.csv')

In [ ]:
# for date in date_series:
#     date_string = 'T'.join(str(date).split(' '))
#     print(date_string)
#     response = requests.get('https://api.darksky.net/forecast/6faf9a5452b99be192c9cf383956da1b/29.9804989,-95.3396578,' + date_string)
#     weather_dict = response.json()
#     hourly = weather_dict['hourly']['data']
#     hourly_weather_per_day = pd.DataFrame(hourly)
#     if date_series[0] == date:
#         year_of_hourly_weather = pd.DataFrame(hourly_weather_per_day)
#     else:   
#         year_of_hourly_weather = year_of_hourly_weather.append(hourly_weather_per_day)

# year_of_hourly_weather.to_csv('weather_2015_raw.csv')



# # commenting out to not re run

In [ ]:
# result = requests.get('https://www.goodreads.com/book/review_counts.json?key=')

In [ ]:
# result.status_code